{
  "parser": "typescript",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 100
}
